/* 
* @Author: Marte
* @Date:   2018-08-23 15:14:09
* @Last Modified by:   Marte
* @Last Modified time: 2018-08-23 16:16:51
*/
.RightNav {
    width: 25%;
    /* min-width: 385px; */
    height: 100%;
    background-color: rgba(255, 255, 255, .76);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.logoWrap {
    text-align: center;
    margin-top: 12%;
}

.logo {
    width: 150px;
    height: 165px;
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .logo {
        width: 120px;
        height: 134px;
    }
}
.linkNav {
    margin-top: 20%;
}

.linkNav li {
    text-align: center;
}

.linkNav li a {
    display: inline-block;
    font-size: 22px;
    color: #333333;
    width: 150px;
    border-bottom: 1px solid #aea27a;
    padding: 4% 0;
}

.linkNav li .linkActive {
    color: #aea27a;
}

.linkNav li a:hover {
    color: #aea27a;
}

.indFooter {
    width: 100%;
    position: absolute;
    bottom: 6%;
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .indFooter {
        bottom: 3%;
    }
}