.RightNav {
    width: 25%;
    /* min-width: 385px; */
    height: 100%;
    background-color: rgba(255, 255, 255, .76);
    /* background: pink; */
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.logoWrap {
    text-align: center;
    margin-top: 7%;
}

.logo {
    width: 150px;
    height: 165px;
}

.linkNav {
    margin-top: 4%;
}

.linkNav li {
    text-align: center;
}

.linkNav li a {
    display: inline-block;
    font-size: 22px;
    color: #333333;
    width: 150px;
    border-bottom: 1px solid #aea27a;
    padding: 4% 0;
}

.linkNav li .linkActive {
    color: #aea27a;
}

.linkNav li a:hover {
    color: #aea27a;
}

.indFooter {
    width: 100%;
    margin-top: 20%;
}

.telNumbers {
    height: 32px;
    font-size: 22px;
    color: #aea27a;
    text-align: center;
    line-height: 32px;
    margin-bottom: 24px;
}

.indInf {
    text-align: center;
    font-size: 14px;
    color: #515151;
}

.LeftContent {
    width: 74%;
}

.ContentTop {
    text-align: center;
    margin-top: 3%;
}

.ContentTop img {
    display: inline-block;
}
.ContentBottom {
    width: 100%;
    margin: 0 auto;
    border-right: 1px solid #dedede;
}

.contentWrap {
    padding: 40px 80px;
    margin: 0 auto;
}
.listInfWrap li{
    border-bottom: 1px solid #e7e7e7;
    padding: 22px 0;
}
.rightContent{
    margin-left: 20px;
}
.infTitle{
    font-size: 20px;
    color: #494949;
}
.infTime{
    font-size: 16px;
    color: #ababab;
    margin-top: 10px;
}
.lookMore a{
    display: inline-block;
    font-size: 18px;
    color: #aea27a;
    margin-top: 15px;
}
.pages{
    text-align: center;
}
.pages .prev{
    border-bottom: 1px solid #949494;
    color: #949494;
    font-size: 13px;
}
.pages a{
    margin: 0 5px;
    font-size: 14px;
    color: #404040;
}
.pages .pageNumbersActive {
    color: #ff4901;
}