.telNumbers {
    height: 32px;
    font-size: 22px;
    color: #aea27a;
    text-align: center;
    line-height: 32px;
    margin-bottom: 17px;
}

.indInf {
    text-align: center;
    font-size: 14px;
    color: #515151;
}

.LeftContent {
    width: 74%;
}

.ContentTop {
    text-align: center;
    margin-top: 5%;
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .ContentTop {
        text-align: center;
<<<<<<< HEAD
        margin-top: 2%;
=======
        margin-top: 3%;
>>>>>>> 7d209c995c189f73a10d8f7cd04b0ae56c58fc94
    }
}
.ContentTop img {
    display: inline-block;
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .ContentTop img {
        width: 140px;
        height: 45px;
    }
}
.ContentBottom {
    width: 100%;
    margin: 0 auto;
    border-right: 1px solid #dedede;
}

.contentWrap {
    padding: 74px 144px;
    margin: 0 auto;
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .contentWrap {
        padding: 19px 80px;
        margin: 0 auto;
    }
}
.listInfWrap li{
    border-bottom: 1px solid #e7e7e7;
    padding: 22px 0;
}
<<<<<<< HEAD
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .listInfWrap li{
        padding: 16px 0;
    }
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .listInfWrap li img{
        width: 160px;
        height: 80px;
    }
}
=======
>>>>>>> 7d209c995c189f73a10d8f7cd04b0ae56c58fc94
.listInfWrap li:last-child{
    border-bottom: none;
}
.rightContent{
    margin-left: 20px;
}
.infTitle{
    font-size: 18px;
    color: #494949;
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .infTitle{
        font-size: 16px;
        color: #494949;
    }
}
.infTime{
    font-size: 16px;
    color: #ababab;
    margin-top: 10px;
}
.lookMore a{
    display: inline-block;
    font-size: 17px;
    color: #aea27a;
    margin-top: 15px;
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    .lookMore a{
        font-size: 16px;
        margin-top: 9px;
    }
}
.pages{
    text-align: center;
}
.pages .prev{
    border-bottom: 1px solid #949494;
    color: #949494;
    font-size: 13px;
}
.pages a{
    margin: 0 5px;
    font-size: 14px;
    color: #404040;
}
.pages .pageNumbersActive {
    color: #ff4901;
}